n8n_workflow.json
{
  "name": "Bakery Scraper Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [1000, 300],
      "webhookId": "my-workflow",
      "id": "33e8e3a5-a102-4e50-872d-cea96ff17761"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google_maps"
            },
            {
              "name": "q",
              "value": "={{$json.body.businessType}} in {{$json.body.city}}, {{$json.body.country}}"
            },
            {
              "name": "type",
              "value": "search"
            },
            {
              "name": "api_key",
              "value": "YOUR_SERPAPI_KEY_HERE"
            },
            {
              "name": "num",
              "value": "={{$json.body.max_leads || 20}}"
            }
          ]
        },
        "options": {}
      },
      "name": "SerpApi - Google Maps",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1200, 300],
      "id": "bd7f9d22-7344-4a4c-92fe-50da35cd8588"
    },
    {
      "parameters": {
        "operation": "clear",
        "sheetId": "YOUR_GOOGLE_SHEET_ID_HERE",
        "range": "A2:Z",
        "options": {}
      },
      "name": "Clear Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [1400, 300],
      "id": "clear-sheet-node"
    },
    {
      "parameters": {
        "fieldToSplitOut": "local_results",
        "options": {}
      },
      "name": "Split Results",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [1600, 300],
      "id": "4c7f7cb6-82ad-4aac-9d54-00093231debc"
    },
    {
      "parameters": {
        "maxItems": "={{ $node[\"Webhook\"].json[\"body\"][\"max_leads\"] }}"
      },
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [1800, 300],
      "id": "limit-node"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Name",
              "value": "={{$json[\"title\"]}}"
            },
            {
              "name": "Email",
              "value": "={{$json[\"email\"] || undefined}}"
            },
            {
              "name": "Address",
              "value": "={{$json[\"address\"]}}"
            },
            {
              "name": "Instagram",
              "value": "={{$json[\"Instagram\"] || undefined}}"
            },
            {
              "name": "Website",
              "value": "={{$json[\"website\"] || null}}"
            },
            {
              "name": "Rating",
              "value": "={{$json[\"rating\"] || null}}"
            },
            {
              "name": "Category",
              "value": "={{$json[\"type\"]}}"
            },
            {
              "name": "Phone",
              "value": "={{$json[\"phone\"] || null}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Format Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [2000, 300],
      "id": "dff8ffcc-13a7-4f02-8622-5ca1ff899f3f"
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "YOUR_GOOGLE_SHEET_ID_HERE",
        "range": "A:H",
        "options": {}
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [2200, 300],
      "id": "aac87a7b-42cf-41c6-aff1-0e958ce7cdc4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tLXcVnYpgrvZvXew",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "scraped_leads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{$json[\"Name\"]}}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{$json[\"Email\"]}}"
            },
            {
              "fieldId": "address",
              "fieldValue": "={{$json[\"Address\"]}}"
            },
            {
              "fieldId": "instagram",
              "fieldValue": "={{$json[\"Instagram\"]}}"
            },
            {
              "fieldId": "website",
              "fieldValue": "={{$json[\"Website\"]}}"
            },
            {
              "fieldId": "rating",
              "fieldValue": "={{$json[\"Rating\"]}}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{$json[\"Category\"]}}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{$json[\"Phone\"]}}"
            }
          ]
        }
      },
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2400, 300],
      "id": "5c9197de-1319-4bc1-862b-ffdb4d8be0f0",
      "credentials": {
        "supabaseApi": {
          "id": "BJRQCP4x86M9U2aa",
          "name": "Supabase account 4"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "SerpApi - Google Maps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpApi - Google Maps": {
      "main": [
        [
          {
            "node": "Clear Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Sheet": {
      "main": [
        [
          {
            "node": "Split Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Results": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Format Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
